@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Italianno&subset=latin-ext');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
:root{
    --body-bg:#fff;
    --main-color:#cf9a33;
    --heading:#1a2229;
    --white:#ffffff;
    --para:#717171;  
    --text-default:#717171; 
    --border:#ced4da; 
    --male:#38a9f0;
    --female:#ec5f91;
    --italianno:'Italiana', serif;
    --base:#14191b;
    --header-bg:#060808;
}


*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    position: relative;
    font-size: 14px;
    color: var(--para);    
    font-family: 'Josefin Sans', sans-serif;
}
body{
    line-height: 1.5;
    background:var(--base);
}
a, a:hover{
    text-decoration: none;
}
p{
    color: rgba(255,255,255,.6) !important;
}
img{
    vertical-align: middle;
}
.body-bg{
    background: var(--base);
}
.navbar-toggler,
.navbar-light .navbar-toggler-icon{
   background-image: none;
    color: var(--main-color);
}
.logo{
    grid-area: logo;
    background:black;
    grid-row-start: logo;
    display: none;
}
.header{
    grid-area: hd;  
    padding: 0;
    grid-row-start: hd;
    background: var(--header-bg);
}
.header .bg-light{
    background: transparent !important;
}
.slider{
    grid-area: slider;
    background:yellowgreen;
    padding: 0px;
}
.heigh-lighter{
    grid-area: ads;
    display: grid;
    grid-auto-rows: repeat(2, 1fr);
    background: var(--main-color);
    display: none;
}
.about-wrap{
    grid-area: ab;    
    padding: 50px 15px;
}
.ab-form{
    grid-area: ab-f;    
    padding: 50px 15px;
}
.main{
    grid-area: main;    
    padding: 50px;
}
.main-2{
    grid-area: m2;    
    padding: 50px;
    padding-bottom: 45px;
}
.male{
    grid-area: male;    
    padding: 50px;
    padding-bottom: 45px;
}
.female{
    grid-area: female;    
    padding: 50px;
    padding-bottom: 45px;
}

.pedigree-wrap{
    grid-area: pdgr;    
    padding: 50px;
    padding-bottom: 45px;
}
.pedigree-wrap{
    grid-area: pdgr;    
    padding: 50px;
    padding-bottom: 45px;
}
.p-dog-detail{
    grid-area: pd;    
    padding: 50px;
    padding-bottom: 45px;
    background: var(--header-bg) url(../img/pattern-1) repeat-x;
}
.award-wrap{
    grid-area: awrd;
    padding: 0px;
    background: url(../img/rustic.jpg) repeat scroll 0 0 #1f2629;
}
.ped-gallery-wrap{
    padding: 50px 0;
}
.sales-wrap{
    grid-area: sale;    
    padding: 50px;
    padding-bottom: 45px;
}
.blog-wrap{
    grid-area: blog;    
    padding: 50px;
    padding-bottom: 45px;
}
.main-3{
    grid-area: m3; 
}
.plax{
    grid-area: plx;    
    padding:100px 50px;   
    position: relative;
    background: url(../img/parallax-bg.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.left-sidebar{
    grid-area: ls-bar;
    background: #fff url(../img/pattern-1) repeat;
    padding: 50px;
    display: none;
}
.right-sidebar{
    grid-area: rs-bar;
    background:cyan;
  
}
.map{
    grid-area: map;
    height: 400px;
    padding: 50px;
    background:url(../img/mapbg.jpg) center no-repeat;
    background-size: cover;
}
.footer{
    grid-area: footer;
    padding: 50px;
    background:var(--header-bg);
}


.grid-container{
    height: 100%;
}
/*================================================= */

/*  page css 
================================================= */
.logo .navbar-brand{
    margin: auto;
    display: block;
}
.menu .navbar-light{
    height: 100%;
    align-items: center;
}
.menu .navbar-light .navbar-nav .nav-link{
    font-size: 1em;  
    color: rgba(255,255,255,.6);  
}

.menu .dropdown-menu{
    border-radius: 0;
    border:0;
    box-shadow: 0 1px 8px rgba(0,0,0,.2);
}

.menu .dropdown-item{
    font-size: .875em;    
}
.menu .navbar-light .navbar-nav .active>.nav-link, 
.menu .navbar-light .navbar-nav .nav-link.active, 
.menu .navbar-light .navbar-nav .nav-link.show, 
.menu .navbar-light .navbar-nav .show>.nav-link{
    color:var(--main-color) ;
}
.menu .navbar-light .navbar-nav .nav-link:focus,
.menu .navbar-light .navbar-nav .nav-link:hover{
    color:var(--main-color) ;
}
.h-wrap{
    padding: 50px 0 0 0;
    margin: 0 auto;
    
}
.h-wrap h1{
    text-align: center;
    color:var(--white);
    font-weight: 600;
    font-size: 60px;
}
.h-wrap p{
    text-align: center;
    color:var(--white);
    font-weight: 400;
    padding: 0 15%;
}
.brand-box{
    margin: 0;
    height: 100px;
    position: relative;
}
.brand-box-bg{
   max-width: 130px;
   display: block;
   position: absolute;
   left: 0; 
   right: 0;
   top: 30px;
   margin: auto;
}
.heading{
    margin: 0;
    text-align: center;
}
.heading h1{
    font-size: 2em;
    text-align: center;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 2rem;
}

/*   About Page Css
--------------------------------------- */


.main-inner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
.main-inner p{ 
    text-align: justify;
}
.main .heading {
    margin-bottom: 2rem;
}
.main .heading h1{
    text-align: left;
}
.m-inner-content{
    grid-column: 1;
}
.m-inner-object{
    grid-row: 1;
    min-width: 0;
    margin-bottom: 1rem; 
    float: right;
}
.m-inner-content {
  grid-column: 1;
}
.m-inner-content img {
  padding: 15px !important;
}
.m-inner-content2{
    grid-column: 1/3;
    margin: 1em 0;
}

.img-res{
    max-width: 100%;
    height: auto;
    display: block;
}

.main-2-inner{
    display: grid;
    grid-template-columns: minmax(1fr, auto);
    grid-template-rows: auto;
}

.main-2-object{
    grid-column: 1/2;
}
.about-form-wrap{
    grid-column: 2;
    margin-top: 0rem;    
}
.about-form-wrap .heading h1{
    text-align: left;
    margin-bottom: 1rem;
}
.about-form-wrap .form-control{
    border-radius: 0;
    height: 45px;
    color: var(--white);
    background: transparent;
}
.about-form-wrap .form-control.textarea-height{
    height:120px;
}

/*   Contact Page Css
--------------------------------------- */
.contact-bg{
    height: 350px;
    width: 100%;
    background: url(../img/contact-bg.jpg) center no-repeat;
}


.m3-form-wrap{
    width: 50%;
    margin: -150px auto 100px;
    padding: 2em 2em;
    position: relative;
    z-index: 10;
    background: #0c0d10;
    box-shadow: 0px 6px 10px rgba(0,0,0,.2);
}
.m3-form-wrap .heading{
    margin: 0 0 2em 0
}
.m3-form-wrap .form-control{
    border-radius: 0;
    height: 40px;
    background: transparent;
    border-color: #c2c2c2;
    color: var(--white);
}
.m3-form-wrap .form-control.textarea-height{
    height: 100px;
}
.address-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap:30px;
    grid-auto-rows: 1fr;
    margin: 0 auto;
}
.add-card{
    display: grid;
    height: 100%;
    align-self: center;
    justify-content: center;
    padding: 3em 1em;
    background:rgba(0,0,0,.9);
}
.add-card h4{ 
    font-size: 1.125em;
    text-align: center;
    color: var(--white);
    margin-bottom: 0em;
}
.add-card p{
    text-align: center;
    font-size: .875em;
    color: var(--para);
    padding: 0 15px;
    margin-top: 2em;
}
.add-icon{
    margin:0 0 2em 0;
    text-align: center;
}
.add-icon [class*="flaticon-"]:before{
    font-size: 3em;
    color: var(--main-color);
}

/*   Male/Female Page Css
--------------------------------------- */

.male .heading, .female .heading{
    margin: 2em 0 4em 0;
}

.male .heading h1{
    font-size: 4em;
    color:#48a6e1;
    font-family: 'Italianno', cursive !important;
}
.female .heading h1{
    font-size: 4em;
    color: #ec5f91;;
    font-family: 'Italianno', cursive !important;
}

.l-align.male-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    /* grid-template-columns: 2fr 3fr; */
    grid-column-gap: 100px;     
    grid-template-rows: auto;
    margin-bottom: 80px;
}


.r-align.male-wrap{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax( 300px, 1fr));   
    grid-column-gap: 100px;     
    grid-template-rows: auto;
    margin-bottom: 80px;
}
.male-container .male, .male-container .female,
.female-container .male, .female-container .female{
    padding: 0;
}
.d-pic{
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    height: 372px;
    position: relative;
    box-shadow: 0 8px 8px rgba(0,0,0,.2);
    background: #cecece;
}
.d-pic.male::before{
    content: '';
    height: 100%;
    width: 100%;
    border: 4px solid #48a6e1;
    top: -18px;
    right: -20px;
    position: absolute;
}
.d-pic.female::before{
    content: '';
    height: 100%;
    width: 100%;
    border: 4px solid #ec5f91;
    top: -18px;
    right: -20px;
    position: absolute;
}
.d-pic .r-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.d-detail{
    grid-column: 3;
    margin: 0rem 0 0rem 0;
 
}
.d-detail p{
  position: relative;
}
.d-detail h2{
    margin:  0 0 1rem 0;
    color: var(--white);
}
.d-detail ul{
    list-style: none;
    font-size: .875rem;
}
.d-detail ul li{
    line-height: 22px;
    color: rgba(255,255,255,.6);
}
.d-detail ul li b{
    color: rgba(255,255,255,.8);
    margin-right: .25rem;
}



.l-align .d-pic{
    grid-column: 1;
}
.l-align .d-detail{
    grid-column: 2;
}
/*   Dog detail/pedigree Page Css
--------------------------------------- */

.ped-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.fm-stamp,.m-stamp{
    position: relative;
    height: 100%;
    width: 100%;
}
.fm-stamp::before{
    content: '';
    width: 400px;
    height: 400px;
    background: url(../img/fm-stamp.png) center no-repeat;
    background-size: cover;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: .2;
    z-index: -1;

}
.m-stamp::before{
    content: '';
    width: 400px;
    height: 400px;
    background: url(../img/m-stamp.png) center no-repeat;
    background-size: cover;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: .2;
    z-index: -1;

}
.ped-col-1{
    display: grid;
    grid-column: 1;
    align-items: center;
    justify-content: center;
    border:1px solid #bebebe;
    border-collapse: collapse;
    padding: 20px;
    min-height: 200px
}
.ped-col-2{
    display: grid;
    grid-column: 2;    
    align-items: center;
    justify-content: center;
    border:1px solid #bebebe;
    border-collapse: collapse;
    padding: 20px;
    min-height: 200px
}
.ped-col-3{
    display: grid;
    grid-column: 3;    
    align-items: center;
    justify-content: center;
    border:1px solid #bebebe;
    border-collapse: collapse;
    padding: 20px;
    min-height: 200px
}
[class*="ped-col-"]{
    border-left: 0;
    margin-top: -1px;
    border-collapse: collapse;

}
.ped-sub,
[class*="ped-col-"]{
    border-color: rgba(255,255,255,.4) !important;
}
[class*="ped-col-"]:first-child{
    border-left: 1px solid #bebebe;
}
[class*="ped-col-"]:nth-of-type(4){
    border-left: 1px solid #bebebe;
}
[class*="ped-col-"] .media img{
    height: 64px;
    width: 64px;
    object-fit: cover;
    object-position: center;
}
[class*="ped-col-"] .media p{
    font-size: .875em;
    font-weight: 300;
}
[class*="ped-col-"] h5{
    font-size: 1em;
    color: var(--white);
}

.ped-sub{
    display: grid;
    grid-column: 1;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid #bebebe;
    border-collapse: collapse;
    padding: 20px;
    min-height: 100px;
    height: 100%;
}
.ped-sub:last-child{
    border-bottom: 0;
}

.p-dog-detail .content-wrap{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 50px;
    padding:30px 20px;
    margin: 0 auto;
    width: calc(100% - 10%);
    background:var(--base );

}
.pdog-imgs{
    grid-column: 1;   
    position: relative;
   
}
.pdog-imgs .carousel-item{
    height: 400px;
    width: 100%;
}
.pdog-imgs .carousel-indicators{
    bottom: -48px;
}
.pdog-imgs .carousel-indicators li{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
}
.pdog-imgs .carousel-item img{
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    position: absolute;
}
.pdog-details{
    grid-column: 2;
}
.pdog-details h2{
    color: var(--main-color);
}
.pdog-details p{
    margin-bottom: .5em;
    font-weight: 300;
    transition: ease.5s;
    position: relative;
}
.pdog-details p:hover{
    transform: translateX(5px);
  
}
.pdog-details p:hover b{
      color: var(--main-color);
}
.pdog-details p::before{
    content: '';
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: ease.5s;
    border-bottom: 1px  solid var(--main-color);
}
.pdog-details p:hover::before{    
    width: 100%;
}
.pdog-details p b{
    margin-right: .5em;
}
/*   Award Css
--------------------------------------- */
.award-wrap-container .card-deck [class*="col-"] {
    max-width: inherit;
    padding: 0;
}
.award-wrap-container .card-deck .card-footer {
    text-align: center;
    color: var(--main-color);
    border-top: 0;
}
.card-footer{
    background: transparent;
}
.award-wrap-container .card-deck .card{
    border: 0;
    background: transparent;
}
.award-case{
    padding: 10px;
    border: 2px dashed var(--border);
}
.award-wrap-container .award-img {       
    position: relative;
    overflow: hidden;  
}
.award-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay-award{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: rgba(0,0,0,.4);
    transition: ease .5s;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    transform: translateY(100%) scale(1);
    -webkit-transform: translateY(100%) scale(1);
    -moz-transform: translateY(100%) scale(1);
}
.award-wrap-container .card-deck .card:hover .overlay-award{
    transform: translateY(0) scale(1);
    -webkit-transform: translateY(0) scale(1);
    -moz-transform: translateY(0) scale(1);
}
.award-link{
    padding: 5px 10px;
    color: var(--white);
    border-radius: 20px;
    background: var(--main-color);
}
.awrd-oranment{
    width: 100%;      
    position: relative;
    margin-bottom: 5rem;
    z-index: 1;
    /* border-bottom: 1px solid var(--border); */
}
.awrd-oranment h1{
    margin-top: 1rem;
    text-align: center;
    color: var(--white);
}
.awrd-oranment:before {
  content: '';
  background: linear-gradient(to right, transparent, #cfa43e, transparent);
  position: absolute;
  left: 50%;
  top: 110px;
  width:100%;
  height: 1px;
  z-index: -1;
  transform: translate(-50%,-50%);
 
}

.awrd-oranment .awrd-icon{
    width: 120px;
    height: 120px;
    margin:-4px auto;
    background:#f9f9f9 url(../img/award-ornament.png) center no-repeat;
    background-size: contain;
}

.ped-gallery-wrap .heading{
    margin: 1em 0 3em;
}


.ped-gallery-wrap-container .row [class*="col-"] {
    max-width: inherit;
    padding: 5px;
}

/*   Sales Page Css
--------------------------------------- */
.sales-container{
    display: grid;
    grid-template-columns: auto;
}

.page-header{
    display: grid;
    align-content: center;
    align-items: center;
    height:250px;
    width: 100%;
    position: relative;
    background: url(../img/sales-bg.jpg) center no-repeat;
    background-size: cover;
    z-index: 2;
}
.page-header h1{
    text-align: center;
    color: var(--white);
}
.page-header ul.breadcrumb{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    background: transparent;
}
.page-header ul.breadcrumb li a{
    color: var(--white);
}
.page-header ul.breadcrumb li{
    color: rgba(255,255,255,.8);
    position: relative;
    font-size: .875em;
}
.page-header ul.breadcrumb li::after{
    content: "/";
    margin: 0 .5rem;
}
.page-header ul.breadcrumb li:last-child::after{
    display: none;
}
.page-header::before{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: rgba(0,0,0,.5);
}
.gallery-bg{
    height: 250px;
    width: 100%;
    background: url(../img/collage.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
.gallery-bg::after{
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    background: rgba(0,0,0,.4)
}

.s-top-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 50px;
}
.s-bottom-wrap{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(23%, 1fr));
    grid-auto-rows: auto;
    grid-column-gap: 30px;
}
.hot-sale{
    margin: 0;
    height: 100%;
    position: relative;
}
.hot-sale img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   /* top:50;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%); */

}
.hot-sale-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
}
.categories{    
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    text-align: center;
    border-bottom: 2px dashed #ccc;
}
.categories img{
    margin: 1em auto;
    height: 180px;
    max-width:100%;
    object-fit: cover
}
.categories h4{
    text-align: center;
    margin: 1em 0;
    font-size: 1.125em;
    position: relative;
    
}
.auto-border{
    text-align: center;
    position: relative;
}
.sale-dog{   
    width: auto;
    height: 195px;
    position: relative;
}
.sale-dog img{
    height: 100%;
    width: 100%;
    top:50%;
    left:50%;
    object-fit: cover;
    position: absolute;
    transform: translate(-50%, -50%);

}
.sale-col{
    margin-bottom: 4rem;
}

.sale-col .btn-fill{
    width: 100%;
    visibility: hidden;;
    transform: translateY(150%);
    transition: ease all .5s;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;

}
.sale-col h2{
    text-align: center;
    margin: 1em 0 .5em 0;
    font-size: 1.5em;
    color:var(--white);
}
.sale-col p{
    text-align: center;
    font-size: .875em;
    margin: .5em;
}
.sale-col h5{
    text-align: center;
    margin: 0em 0 1em 0;
    font-size: .875em;
}
.available{
    color: var(--main-color) !important;
}
.sold{
    color: red !important;
}
.s-effect{
    position: relative;
}
.s-effect::before{
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    transition: ease all .5s;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}
.sold-product .btn-fill{
    cursor: not-allowed;
    opacity: .8;
}
.s-effect:hover .btn-fill{
    display: block !important;
    visibility: visible;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: ease all .5s;
    box-shadow: 0 2px 6px rgba(0,0,0,.2)
}
.s-effect:hover::before{
    content: '';
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    transition: ease all .5s;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    background: #000;
}

/*  Blog Page Css
--------------------------------------- */
.img-responsive{
    display: block;
    height: auto;
    max-width: 100%;
}
.blog-sec{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 3fr 4fr;
}
.post-msg h2{
    color: var(--white);
}
.post-img{
    grid-column: 1;
    height: 372px;
    position: relative;
}
.r-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.post-msg h2{
    font-size: 1.6em;
}
.post-msg a{
    color: #39bae9;
}
.post-msg h5{
    font-size: .75em;
    font-weight: 600;
    color: var(--main-color);
}
.post-msg p{   
    color: var(--para);
}

.post-image-wrap{
    margin-top: 1rem ;
    margin-bottom: 3rem;
    position: relative;
}
.user-liked{
    height: 60px;
    width: 60px;
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
    background: var(--main-color);
    border-radius: 50%;
    position: absolute;
    line-height: 16px;
    z-index: 10;
    bottom: -15px;
    left: -15px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
}
.user-liked .fa{
    color: var(--white)
}
.user-liked p{
     margin: 0
 }
.post-blog-title{
    font-weight: 600;
    font-size: 1.75rem;
    color: var(--main-color);
    text-align: center;
    font-family: var(--italianno);
    transition: ease .3s;
}
.blockquote--post{
    margin: 2em  0;
}
.blockquote--post p{
    width: 70%;
    margin: auto;
    text-align: center !important;
}
.blog-container blockquote {
    font-size: 26px;
    color: #222;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    position: relative;
}
.blog-container blockquote:before {
    background: var(--base);
    color: var(--white);
    content: "\201C";
    left: 50%;
    font-size: 6rem;
    padding: 10px 15px;
    position: absolute;
    top: -0.5em;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.blog-container blockquote:after {
    border: 1px solid #e1e1e1;
    border-left: 0;
    border-right: 0;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    margin-left: -4.5em;
    position: absolute;
    top: 0;
    width: 9em;
    z-index: -1;
}
.post-blog-title:hover{
    color: var(--main-color);
}
.posted-row{
    margin:  0;
}
ul.postetd-by{
    display: flex;
    flex-flow: row;
    list-style: none;
    padding: 0;
    margin:  1em 0 2em 0;
    justify-content: center;
}

ul.postetd-by a{
    margin: 0 1rem;
    font-size: .75rem;
    color: rgba(255,255,255,.8);
    position: relative;
    text-transform: uppercase;
}
ul.postetd-by a::before{
    content: '';
    height: 2px;
    width: 15px;
    border-bottom: 1px solid var(--main-color);
    position: absolute;
    top: 8px;
    right: -25px;
}
ul.postetd-by a:last-child::before{
    border: 0;
}
.post--lg p {
    position: relative;
    vertical-align: baseline;
    color: var(--text-default);
    margin-bottom: 1em;
    text-align: justify;
}
.dropcaps {
    position: relative;   
    vertical-align: top;
    float: left;
    line-height: 45px;
    font-size: 50px;
    color: var(--dark-heading);
    font-weight: 300;
    margin: 0 13px 0 0;
}
.para-link {
    color: var(--main-color);
}
/*  Footer
================================== */
.footer-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}
.footer-menu{
    padding: 0;
    list-style: none;
}
.footer-menu li a{
    color: var(--white);
    opacity: .7;
    transition: all .3s;
}
.footer-menu li a:hover{
    opacity: 1;
    color: var(--main-color);
    text-decoration: none;
}
.f-col{
    padding: 10px;
}
.news-letter-wrap h2{
    font-weight: 600;
    font-size: 1.5em;
    color:var(--white);
}
.news-letter-wrap p{
    color:var(--white);
    opacity: .7;
}
.news-letter-wrap .form-control{
    border-radius: 0;
    color: var(--white);
    background: transparent;
    border-color: rgba(255,255,255,.5);
}
.news-letter-wrap .btn{
    border-radius: 0;
}
.news-letter-wrap .btn-outline-secondary{
    border-color: var(--main-color);
    background:var(--main-color);
    color:var(--white);
}.news-letter-wrap .btn-outline-secondary:focus,
.news-letter-wrap .btn-outline-secondary:active{
    border-color: var(--main-color);
    background:var(--main-color);
    color:var(--white);
    box-shadow: none;
    outline: 0;
}
.news-letter-wrap .btn-outline-secondary:not(:disabled):not(.disabled).active, 
.news-letter-wrap .btn-outline-secondary:not(:disabled):not(.disabled):active, 
.news-letter-wrap .show>.btn-outline-secondary.dropdown-toggle{
    border-color: var(--main-color);
    background:var(--main-color);
    color:var(--white);
    box-shadow: none;
    outline: 0;
}
.f-address-wrap{
    margin: 0;
}
.f-address-wrap h2{
    font-weight: 600;
    font-size: 1.5em;
    color:var(--white);
}
.f-address-wrap p{
    color:var(--white);
    opacity: .7;    
}
/*  Button csss
======================================= */

.btn-fill{
    display: inline-block;
    font-size: .875em;
    padding: .35em 1em;
    vertical-align: middle;
    text-align: center;
    line-height: 1.5;
    background: var(--main-color);
    color: var(--white);
    border: 0;
    cursor: pointer;
    transition: all .3s;
}
a.btn-fill:hover{
    text-decoration: none;
    color:var(--white);
    background:var(--main-color);
}
.btn-fill.larg-btn{
    padding: .5em 1.5em;
    font-size: 1.25em;
}
.btn-fill.md-btn{
    padding: .3em 1em;
    font-size: 1.125em;
}
.btn-fill.round{
    border-radius: .5em;
}

.btn-fill.inside-border{
    position: relative;
}
.btn-fill.inside-border::before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border:1px dashed var(--white);
    border-radius: .5em;
    text-decoration: none;
}
.btn-fill:focus,.btn-fill:active,
.btn-fill:hover{
    outline: 0;
    border: 0;
    box-shadow: none;
}
.btn-fill.black{
    background: #000;
}
.btn-center-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-left-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.btn-right-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.btn-outline.main{
    border:1px solid var(--main-color);
}
.btn-outline.secondary{
    border:1px solid var(--heading);
}
.btn-outline{
    display: inline-block;
    font-size: .875em;
    padding: .35em 1em;
    vertical-align: middle;
    text-align: center;
    line-height: 1.5;
    background: transparent;
    color: var(--heading);
    border: 0;
    cursor: pointer;
    transition: ease all .3s;
}
.btn-outline:hover{
    border:1px solid var(--main-color);
    color:var(--white);
    background:var(--main-color);
}
.btn-outline:focus,.btn-outline:active{
    border:1px solid var(--main-color);
    color:var(--white);
    background:var(--main-color);
    box-shadow: none;
    outline: 0;
}

/*____ pagination css___ */
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 50%; 
    border-bottom-left-radius: 50%;
    border: transparent;
}

.page-item:last-child .page-link {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-right: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
}
.page-link {
    position: relative;
    display: grid;    
    align-items: center;
    text-align: center;
    height: 35px;
    width: 35px;
    margin: 0 .5em;
    padding: .5rem .875rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--text-default);
    background-color: #0c0d10;
    border: 1px solid var(--border-light);
    border-radius: 50%;
} 
.without-border .page-link{
    border: 0;
}
.page-item.active .page-link,
.page-item .page-link.active {
    z-index: 1;
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.without-border .page-link {
    border: 0;
}
.page-link:hover,
.page-link:active, 
.page-link.active ,
.page-item.active .page-link {
    z-index: 2;
    color: var(--white);
    text-decoration: none;
    background-color: var(--main-color);
    border-color: var(--border);
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow:none;
}
.pagination-left{
    display: flex ;    
    justify-content:flex-start;   
}
.pagination-center{
    display: flex ;    
    justify-content: center;   
}
.pagination-right{
    display: flex ;    
    justify-content:flex-end;   
}
	
/* Form 
============================================== */
.custom-control-input:checked~.custom-control-label::before{
    background: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
/* Gallery css
============================================== */
.gallery-container{
    margin: 1em auto;   
    
}
.my-gallery { 
    margin: 0;    
}
.my-gallery a img {
    height: 100%;
    width: 100%;    
    object-fit: cover;
}
.my-gallery a {
    position: relative;
}
.gallery-cover{
    position: relative;
    padding: 5px !important;
}
.gallery-overlay-link{
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    position: absolute;
    z-index: 100;
    background: var(--main-color);
    color:var(--white);
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
    transition: all 1s;
}
.gallery-overlay-link a{
    color:var(--white);
}
.gallery-cover:hover .gallery-overlay-link{
    
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
             opacity: 1;     
}
.sub-gallery--details {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1070;
    transition: .5s ease;
}
.sub-gallery--header {
    padding: .5em 1em;
    background: #f1f1f1;
    margin-bottom: 2em;
}
.sub-gallery--header .close-gallery--detail {
    float: right;
}
.sub-gallery--details-conent h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--heading);
}
.sub-gallery--details-conent h5 {
    margin-bottom: .5rem;
    font-size: 1rem;
    color: var(--heading);
}
.close-gallery--detail {
    font-weight: 700;
    font-size: 1.5em;
    color: red !important;
    cursor: pointer;
}
/* Gallery Album css
============================================== */
.albumcard-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}
/* Testimonial css
============================================== */
.testimonial--container,.blog-card-container{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
}

.testimonial--box,.blog--card{
    padding: 3em;
    position: relative;
    background: #0c0d10;
    box-shadow: 0 0 6px 1px rgba(0,0,0,.1);
}
.blog--card{
    overflow: hidden;
}
.blog--card::before{
    content: '';
    width: 70%;
    height: 10px;
    top: 0;
    left: -20px;
    background: var(--main-color);
    position: absolute;
    transform: skew(60deg);
    z-index: 1;
}
.blog--card::after{
    content: '';
    width: 100%;
    height: 10px;
    top: 0;
    left: 0px;
    background: #000;
    position: absolute;

}
.testimonial--box:nth-child(even),.blog--card:nth-child(even){
    -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  transition-delay: .8s;
}
.testimonial--box:nth-child(odd),.blog--card:nth-child(odd){
    -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  transition-delay: .6s;
}
.testimonial--box h5,.blog--card h5{    
    font-weight: 600;  
    font-size: 1.25em; 
    color: var(--white);  
    font-style: italic; 
}
.testimonial--box p,.blog--card p{
    position: relative;
    padding-left: 0px;   
    text-align: justify;
}
.testimonial--box .testi-link,.blog--card .testi-link{
    position: absolute;
    right: 2rem;
    font-size: .875rem;
    color: var(--white);
}
.testimonial--box p::before,.blog--card p::before{
    content: '\f10d ';
    font-family: fontawesome;    
    font-size: 24px;
    opacity: .3;
    position: absolute;
    left: -25px;
    top: -10px;
    color: var(--main-color);
}
.testimonial--box p::after{
    content: '\f10e';
    font-family: fontawesome;    
    font-size: 24px;
    opacity: .3;
    position: absolute;
    right: auto;
    bottom: 0;
    transform: translate(5px,10px);
    color: var(--main-color);
}
.name-box{
    width: max-content;
    position: relative;
    padding-left: 40px;
    margin: 0;
}
.name-box::before{
    content: '';
    width: 25px;
    height: 1px;
    top: 13px;
    left: 0;
    position: absolute;
    background: var(--white);
}
.name-box h4{
    text-align: center;
    margin: 0;
    font-size: 1.25em;  
    color: var(--main-color);  
}
.name-box  small{
    margin-top: -4px;
    display: block;
    font-size: 12px;
    color: rgba(255,255,255,.8);
}

.testi-d-container{
    padding: 1em;
    box-shadow: 0 0 1px rgba(0,0,0,.1);
    position: relative;
}

.testi-post-detail{
    margin: 1em  0;
    position: relative;
}
.testi-post-detail span{
    font-size: .875rem;
    text-transform: uppercase;
    /* margin-right: .5rem; */
}
.testi-post-detail span::after{
    content: '/';
    margin: 0 .25rem;
}
.testi-post-detail span:last-child::after{
    display: none
}
.testi-post-detail span.post-liked i{
    font-size: 12px !important;  
    display: inline-block;
}

.testi-post-title h4{
    color: var(--heading);
}

.testipost-para p{
    text-align: justify;
    position: relative;
    font-size: 1rem;
}

.testipost-para .blockquote{
    padding: 1em 1rem 1rem 2.5rem;
    font-size: 1rem;
    font-style: italic;
    background: #000;
    border-left: 4px solid var(--main-color);
}

.testipost-para .blockquote p::before{
    content: '\f10d ';
    font-family: fontawesome;    
    font-size: 24px;
    opacity: .3;
    position: absolute;
    left: -25px;
    top: -10px;
    color: var(--main-color);
}
.testipost-para .blockquote p::after {
    content: '\f10e';
    font-family: fontawesome;
    font-size: 24px;
    opacity: .3;
    position: absolute;
    right: auto;
    bottom: 0;
    transform: translate(5px,10px);
    color: var(--main-color);
}
.testi-post-form {
    margin: 4rem 0;
    padding-top: 1rem;
    border-top: 2px dashed var(--border);
}
.testi-post-form h4{
    margin: 1em 0;
    color: var(--white);
}
.testi-post-form .btn-main{
    min-width: 120px;
    border-radius: .1rem;
    text-transform: uppercase;
    background: var(--main-color);
    box-shadow: 0 2px 6px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.1);
}
.testi-post-form .form-control{
    height: 40px;
    background: transparent;
    border-radius: .1rem;
    color: var(--white);
    border-color: rgba(255,255,255,.5);
}
.testi-post-form  .custom-control-label{
    color: rgba(255,255,255,.6);
}
.testi-post-form textarea.form-control{
    min-height: 200px;
}
/* litters page css
============================================== */
.litters-container{
    padding-top: 1em ;
    padding-bottom: 5em;
}
.litters--status {
    padding: 3em 2em;
    margin: 1em auto;
}
.litters--status h3, .litters--status h2 {
    text-align: center;
    font-family: var(--source);
    color: var(--white);
}
.status {
    user-select: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 5px 0 5px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.litters--status h2  .status,
.litters--status h3  .status {
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
} 

.status.current {
    color: #8cca07;
    border-color: #8cca07 !important;
}

.status.upcoming{
  color: #5221ea;
  border-color: #5221ea !important;
}
.status.previous{
  color: #f39408;
  border-color: #f39408 !important;
}

.litter-gender{
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    position: relative;
}
.litter-gender::before{
    content: '';
    background: linear-gradient(to bottom, transparent, #747474, transparent);
    position: absolute;
    left: 50%;
    top: 55%;
    /* border-left: 1px dashed #333; */
    transform: translate(-50%,-50%);
    width: 1px;
    height: calc(100% - 50px);
}
.litter-male .hr-text::after{
    color: var(--male);
}
.litter-female .hr-text::after{
    color: var(--female);
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  font-size: 1.5rem;
}
.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  /* color: #818078; */
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.litters-para p{
    color: var(--text-default);
    text-align: justify;
    line-height: 24px;
}

.litters-gallery{
    margin: 4em 0;
}
.litters-gallery .row [class*="col-"] {
    padding: 5px;
}

/* gallery album css
============================================ */
.albums-wrap{
    padding-bottom: 3rem;
    background: #efefef;
}
.album {  
  margin: 0rem auto 0;
  padding: 5rem 0 0 0;
}
.album .row [class*="col-"]{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2em;
}
.Grid-row {
  display: flex;
    flex-direction: column;
}
.Card {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;  
    padding-bottom: 0rem;
    transition: background-color 0.2s cubic-bezier(0.5, 0.3, 0.8, 0.06);
    color: #000;    
}
.Card-thumb {
    position: relative;
    width: 100%;
    
    -webkit-perspective-origin: 50% 0%;
        perspective-origin: 50% 0%;
    -webkit-perspective: 600px;
    perspective: 600px;
    z-index: 1;
}
.Card-image{
    position: relative;
    display: block;
    width: 100%;
    height: 12rem;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
.Card-image::before,.Card-image::after{
    content: '';       
    position: absolute;
    z-index: -1;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.Card-image::before{
    top: -5px;
    left: -5px;
    height: calc(100% + 10px);
    width: calc(100% + 10px);     
    transform: rotate(-5deg)
}
.Card-image::after{
    top: -10px;
    left: -10px;
    height: calc(100% + 20px);
    width: calc(100% + 20px);     
     z-index: -2 !important;
    
}
.Card:hover .Card-image::before,
.Card:hover .Card-image::after{
    display: none;
}
.Card-shadow {
    position: absolute;
    display: block;
    width: 100%;
    height: 12rem;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}
.Card-shadow img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Card-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
.Card-shadow {
    opacity: 0.8;
    background-size: cover;
}
.Card:hover .Card-title{
    display: none;
}
.Card-shadow:nth-child(1) {
    opacity: 0.6;
    background-color: #673ab7;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.07s;
}
.Card-shadow:nth-child(2) {
    opacity: 0.7;
    background-color: #3f51b5;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.05s;
}
.Card-shadow:nth-child(3) {
    background-color: #2196f3;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.03s;
}
.Card-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #607d8b;
}

.Card-title,
.Card-explore {
    /* position: absolute; */
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 5rem; */
    text-align: center;
    transition: all 0.2s cubic-bezier(0.5, 0.3, 0.8, 0.06);
}
.Card-title span,
.Card-explore span {
    padding: 0.5rem;
    flex: 1 1 auto;
    text-align: center;
}
.Card-explore {
    opacity: 0;
    -webkit-transform: translate(0, -1rem);
        transform: translate(0, -1rem);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #673ab7;
}

.Card:hover,
.Card--active {
    height: 100%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.05);
}
.Card:hover .Card-thumb,
.Card--active .Card-thumb {
  z-index: 3;
}
.Card-title{
    margin-top: 1em;
}
.Card:hover .Card-title,
.Card--active .Card-title {
  opacity: 0;
}
.Card:hover .Card-explore,
.Card--active .Card-explore {
  opacity: 1;
  -webkit-transform: translate(0, 2.5rem);
          transform: translate(0, 2.5rem);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}
.Card:hover .Card-image,
.Card--active .Card-image {
  -webkit-transform: scale(1.05) translate(0, -1rem) rotateX(25deg);
          transform: scale(1.05) translate(0, -1rem) rotateX(25deg);
}
.Card:hover .Card-image::before,
.Card--active .Card-image::before {
  opacity: 0.4;
}
.Card:hover .Card-shadow:nth-child(3),
.Card--active .Card-shadow:nth-child(3) {
  -webkit-transform: scale(1.02) translate(0, -0.3rem) rotateX(15deg);
          transform: scale(1.02) translate(0, -0.3rem) rotateX(15deg);
}
.Card:hover .Card-shadow:nth-child(2),
.Card--active .Card-shadow:nth-child(2) {
  -webkit-transform: scale(0.9) translate(0, 1rem) rotateX(15deg);
          transform: scale(0.9) translate(0, 1rem) rotateX(15deg);
}
.Card:hover .Card-shadow:nth-child(1),
.Card--active .Card-shadow:nth-child(1) {
  -webkit-transform: scale(0.82) translate(0, 2.4rem) rotateX(5deg);
          transform: scale(0.82) translate(0, 2.4rem) rotateX(5deg);
}

.Card--active,
.Card--active:hover {
  background: none;
}
.Card--active .Card-explore,
.Card--active:hover .Card-explore {
  opacity: 0;
  -webkit-transform: translate(0, 3rem);
          transform: translate(0, 3rem);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.Card--active .Card-image,
.Card--active:hover .Card-image {
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: scale(1.05) translate(0, -2.5rem) rotateX(50deg);
          transform: scale(1.05) translate(0, -2.5rem) rotateX(50deg);
}
.Card--active .Card-image::before,
.Card--active:hover .Card-image::before {
  opacity: 0.4;
}
.Card--active .Card-button,
.Card--active:hover .Card-button {
  opacity: 0;
  transition: all 0.35s cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: translate(-50%, -2rem) scale(1, 0.4);
          transform: translate(-50%, -2rem) scale(1, 0.4);
}

/* 
============================ */
.award-page-wrap{
    position: relative;
    display: flex;
    flex-direction: column;

}
.award-page-container{
    margin: auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.award-title{
    margin: 2rem 0;
}
.award-title h1{
    text-align: center;
    margin: 0;
    color: var(--white);
}
.award-cover{    
    margin: 3rem auto 2rem;
    position: relative;
    z-index: 1;
}
.award-cover::after,
.award-cover::before{
    content: '';
    width: 180px;
    height: 30px;
    position: absolute;
    z-index: -1;
    background: var(--main-color);
}
.award-cover::before{
    right: -5px;
    top: -5px;
}
.award-cover::after{
    left: -5px;
    bottom: -5px;
}

.award-cover img{
    max-width: 100%;
    height: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.award-content {
    margin:1rem 0;
}
.award-content p{
     margin: 2rem  0 5rem 0;
    text-align: justify;
}
.award-judgement{
    margin: 1rem 0;
}

.award-judgement h4{
    text-align: center;
    color: var(--main-color);
    margin-bottom: 0;
}

.award-page-container .hr-text::after{
    font-size: 1.25rem;
    top: 5px;
}



@media(min-width:576px){
    .testimonial--container,.blog-card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:767px){
    .s-top-wrap{
        grid-template-columns: 1fr;
    }
    .s-bottom-wrap{
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
        grid-gap: 20px;
    }
    .pedigree-wrap,.award-wrap,.ped-gallery-wrap, .blog-wrap{
        padding-left: 15px;
        padding-right: 15px;
    }
    .sale-col.s-effect{
        min-width: 0;
    }
    .s-effect::before{
        box-shadow: 0 1px 4px rgba(0,0,0,.2);
        padding-bottom: 1em;
    }
    .sale-dog{
        width: 100%;
        height: 100%;
    }
    .sale-dog img{
        position: static;
        top: 0;
        left: 0;
        transform: none;
    }
    /* inner page slider
    ------------------------ */
   
    .categories img{
        height: auto;
        object-fit:inherit; 
    }
   
    .d-detail{
        grid-column: 1;
        margin-top: 2em;
    }
    .d-pic{
        height: auto;
    }
    .r-align .d-pic{
        grid-column: 1;
    }
    .d-pic .r-img{
        height: auto;
        position: relative;
        transform: none;
        top: 0;
        left: 0;
    }
  /* About
  ------------ */
  .main-inner,.main-2-inner{
      grid-template-columns: 1fr;
  }
  .m-inner-content,
  .m-inner-content2,
  .m-inner-object{
      grid-column: 1;
  }

  /* detail and pedigree
  ----------------------- */
  .p-dog-detail .content-wrap{
      grid-template-columns: 1fr;
  }
  .pdog-details,
  .pdog-imgs {
    grid-column: 1;
}

.award-wrap{
    grid-template-columns: 1fr;
}
.ped-gallery-wrap{
    grid-template-columns: 1fr;
}
/* blog 
---------------------- */
.blog-sec{
    grid-template-columns: 1fr;
}
.post-img,.post-msg{
    grid-column: 1;
    height: auto;
}
.post-img .r-img{
    position: relative;
    transform: none;
    left: auto;
    top:auto;
    height: auto;
}
.l-align.male-wrap,
.r-align.male-wrap{
    grid-template-columns: 1fr !important;
}
.l-align .d-detail {
    grid-column: 1;
}
}




@media(min-width:768px){
   
   .award-page-container{
       max-width: 70%;
   }
    .about-form-wrap{
        padding-left: 1em;
    }
  
  
    .m-inner-object{
        margin-left: 1em;
    }
     .footer-wrap{    
    grid-template-columns: repeat(auto-fill,minmax(50%,1fr));
    }
    .r-align .d-pic{
        grid-column: 6/2;
    }
    .r-align .d-detail{
        grid-column: 2/1;
    }

}
@media(max-width:992px){
    .logo {
        display: none !important;
    }    

}
@media(min-width:992px){
    .header{
        padding-left: 15vh;
        padding-right: 15vh;
   }
 
     .footer-wrap{    
        grid-template-columns: 170px 200px repeat(auto-fill,minmax(25%,1fr));
    }
    .r-align .d-pic{
        grid-column: 3/2;
    }
    .r-align .d-detail{
        grid-column: 2/1;
    }
}


@media (min-width: 1200px){
  
.address-card,


.male-container,
.female-container,
.litters-container,
.ped-container,
.testimonial-detail-wrap,
.ped-gallery-wrap-container,
.sales-container{
    max-width: 1140px;
    margin: 0 auto;
}

.main, .main-2, .heigh-lighter,  .left-sidebar, .right-sidebar{
        padding-left: 15%;
        padding-right: 15%;
    }
   
}

@media (min-width:1600px){
    .grid-card-avtar{
        height: 260px;
    }
    .add-icon [class*="flaticon-"]:before{
        font-size: 4em;
    }
}

/*========================*/

.card-deck [class*="col-"]{
    margin-bottom: 1rem;
}
.card-deck .card{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    border: 0;
}
.card-header,
.card-footer{
    background: transparent;
}
.card-footer {
    border-top: 0;
}

.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.header .navbar-toggler .fa{
    color: var(--main-color);
}
.header .navbar-light .navbar-nav .nav-link{
    color: rgba(255,255,255,.7);
    opacity: 1;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}
.header .navbar-light .navbar-nav .active>.nav-link, 
.header .navbar-light .navbar-nav .nav-link.active, 
.header .navbar-light .navbar-nav .nav-link.show, 
.header .navbar-light .navbar-nav .show>.nav-link{
    color: var(--main-color);
}
.header .navbar-light .navbar-nav .nav-link:focus, 
.header .navbar-light .navbar-nav .nav-link:hover{
    color: var(--main-color);
}

.header .dropdown-item:focus, 
.header .dropdown-item:hover{
    color: var(--white);
    background: var(--main-color);
}