	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/03/2019 13:40
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/Flaticon.woff2") format("woff2"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}

.flaticon-instagram:before { content: "\f100"; }
.flaticon-heart:before { content: "\f101"; }
.flaticon-facebook:before { content: "\f102"; }
.flaticon-youtube:before { content: "\f103"; }
.flaticon-user:before { content: "\f104"; }
.flaticon-whatsapp:before { content: "\f105"; }
.flaticon-twitter:before { content: "\f106"; }
.flaticon-email:before { content: "\f107"; }
.flaticon-pin:before { content: "\f108"; }
.flaticon-messenger:before { content: "\f109"; }
.flaticon-linkedin:before { content: "\f10a"; }
.flaticon-notification:before { content: "\f10b"; }
.flaticon-telegram:before { content: "\f10c"; }
.flaticon-network:before { content: "\f10d"; }
.flaticon-image:before { content: "\f10e"; }
.flaticon-worldwide:before { content: "\f10f"; }
.flaticon-network-1:before { content: "\f110"; }
.flaticon-like:before { content: "\f111"; }
.flaticon-hashtag:before { content: "\f112"; }
.flaticon-playstore:before { content: "\f113"; }
.flaticon-like-1:before { content: "\f114"; }
.flaticon-star:before { content: "\f115"; }
.flaticon-happy:before { content: "\f116"; }
.flaticon-photo-camera:before { content: "\f117"; }
.flaticon-chat:before { content: "\f118"; }
.flaticon-happy-1:before { content: "\f119"; }
.flaticon-windows:before { content: "\f11a"; }
.flaticon-rss:before { content: "\f11b"; }
.flaticon-agenda:before { content: "\f11c"; }
.flaticon-skype:before { content: "\f11d"; }
.flaticon-cloud-computing:before { content: "\f11e"; }
.flaticon-information:before { content: "\f11f"; }
.flaticon-paypal:before { content: "\f120"; }
.flaticon-behance:before { content: "\f121"; }
.flaticon-sad:before { content: "\f122"; }
.flaticon-dislike:before { content: "\f123"; }
.flaticon-file:before { content: "\f124"; }
.flaticon-shopping-cart:before { content: "\f125"; }
.flaticon-network-2:before { content: "\f126"; }
.flaticon-track:before { content: "\f127"; }
.flaticon-vimeo:before { content: "\f128"; }
.flaticon-bone:before { content: "\f129"; }
.flaticon-flickr:before { content: "\f12a"; }
.flaticon-pawprint:before { content: "\f12b"; }
.flaticon-suitcase:before { content: "\f12c"; }
.flaticon-telephone:before { content: "\f12d"; }
.flaticon-contract:before { content: "\f12e"; }
.flaticon-wall-clock:before { content: "\f12f"; }
.flaticon-arroba:before { content: "\f130"; }
.flaticon-calendar:before { content: "\f131"; }
.flaticon-house:before { content: "\f132"; }
.flaticon-google-plus-outlined-logo-social-symbol:before { content: "\f133"; }
.flaticon-pinterest-outlined-logo:before { content: "\f134"; }
.flaticon-android-social-outlined-logo:before { content: "\f135"; }
.flaticon-apple-social-logo-outline:before { content: "\f136"; }
.flaticon-menu:before { content: "\f137"; }
.flaticon-menu-1:before { content: "\f138"; }
.flaticon-down-chevron:before { content: "\f139"; }
.flaticon-right-chevron:before { content: "\f13a"; }
.flaticon-left-chevron:before { content: "\f13b"; }
.flaticon-fullscreen:before { content: "\f13c"; }
.flaticon-close:before { content: "\f13d"; }
.flaticon-more:before { content: "\f13e"; }
.flaticon-back:before { content: "\f13f"; }
.flaticon-cancel:before { content: "\f140"; }
.flaticon-refresh:before { content: "\f141"; }
.flaticon-up-chevron:before { content: "\f142"; }
.flaticon-checked:before { content: "\f143"; }
.flaticon-more-1:before { content: "\f144"; }
.flaticon-next:before { content: "\f145"; }
.flaticon-down-arrow:before { content: "\f146"; }
.flaticon-minimize:before { content: "\f147"; }
.flaticon-left-arrow:before { content: "\f148"; }
.flaticon-unfold:before { content: "\f149"; }
.flaticon-down-arrow-1:before { content: "\f14a"; }
.flaticon-up-arrow:before { content: "\f14b"; }
.flaticon-down-arrow-2:before { content: "\f14c"; }
.flaticon-back-1:before { content: "\f14d"; }
.flaticon-unfold-1:before { content: "\f14e"; }
.flaticon-skip:before { content: "\f14f"; }
.flaticon-right-arrow:before { content: "\f150"; }
.flaticon-up-arrow-1:before { content: "\f151"; }
.flaticon-view:before { content: "\f152"; }
.flaticon-animal-paw-print:before { content: "\f153"; }
.flaticon-dog-bone:before { content: "\f154"; }
.flaticon-prize-badge-with-paw-print:before { content: "\f155"; }
.flaticon-dog-face:before { content: "\f156"; }
.flaticon-face-of-staring-dog:before { content: "\f157"; }
.flaticon-tennis-ball:before { content: "\f158"; }
.flaticon-belt-and-buckle:before { content: "\f159"; }
.flaticon-border-collie-head:before { content: "\f15a"; }
.flaticon-border-collie-dog-head:before { content: "\f15b"; }
.flaticon-dog-face-1:before { content: "\f15c"; }
.flaticon-dog-with-chubby-cheeks:before { content: "\f15d"; }
.flaticon-angry-bulldog-face:before { content: "\f15e"; }
.flaticon-dog-head:before { content: "\f15f"; }
.flaticon-dog-with-long-ears:before { content: "\f160"; }
.flaticon-dog-kennel:before { content: "\f161"; }
.flaticon-bone-1:before { content: "\f162"; }
.flaticon-care:before { content: "\f163"; }
.flaticon-insecticide:before { content: "\f164"; }
.flaticon-vaccine:before { content: "\f165"; }
.flaticon-grooming:before { content: "\f166"; }
.flaticon-jack-russell-terrier:before { content: "\f167"; }
.flaticon-husky:before { content: "\f168"; }
.flaticon-poodle:before { content: "\f169"; }
.flaticon-dachshund:before { content: "\f16a"; }
.flaticon-kurzhaar:before { content: "\f16b"; }
.flaticon-bulldog:before { content: "\f16c"; }
.flaticon-pomeranian:before { content: "\f16d"; }
.flaticon-border-collie:before { content: "\f16e"; }
.flaticon-french-bulldog:before { content: "\f16f"; }
.flaticon-pug:before { content: "\f170"; }
.flaticon-basset-houd:before { content: "\f171"; }
.flaticon-english-cocker-spaniel:before { content: "\f172"; }
.flaticon-american-staffordshire-terrier:before { content: "\f173"; }
.flaticon-chow-chow:before { content: "\f174"; }
.flaticon-yorkshire-terrier:before { content: "\f175"; }
.flaticon-beagle:before { content: "\f176"; }
.flaticon-corgi:before { content: "\f177"; }
.flaticon-doberman:before { content: "\f178"; }
.flaticon-chihuahua:before { content: "\f179"; }
.flaticon-bernese-mountain:before { content: "\f17a"; }
.flaticon-dalmatian:before { content: "\f17b"; }
.flaticon-greyhound:before { content: "\f17c"; }
.flaticon-saluki:before { content: "\f17d"; }
.flaticon-pharaoh-hound:before { content: "\f17e"; }
.flaticon-akitas:before { content: "\f17f"; }
.flaticon-collie:before { content: "\f180"; }
.flaticon-mastiff:before { content: "\f181"; }
.flaticon-airedale:before { content: "\f182"; }
.flaticon-bichon-frise:before { content: "\f183"; }
.flaticon-rottweiler:before { content: "\f184"; }
.flaticon-bichon:before { content: "\f185"; }
.flaticon-bullterrier:before { content: "\f186"; }
.flaticon-german-sheperd:before { content: "\f187"; }
.flaticon-pointer:before { content: "\f188"; }
.flaticon-shar-pei:before { content: "\f189"; }
.flaticon-malamute:before { content: "\f18a"; }
.flaticon-shih-tzu:before { content: "\f18b"; }
.flaticon-bullmastiff:before { content: "\f18c"; }
.flaticon-sheltie:before { content: "\f18d"; }
.flaticon-boxer:before { content: "\f18e"; }
.flaticon-bedlington-terrier:before { content: "\f18f"; }
.flaticon-newfoundland:before { content: "\f190"; }
.flaticon-springer-spaniel:before { content: "\f191"; }
.flaticon-tibetan-mastiff:before { content: "\f192"; }
.flaticon-chinese-crested:before { content: "\f193"; }
.flaticon-english-mastiff:before { content: "\f194"; }
.flaticon-afghan-hound:before { content: "\f195"; }
.flaticon-st-bernard:before { content: "\f196"; }
.flaticon-japanese-chin:before { content: "\f197"; }
.flaticon-miniature-schnauzer:before { content: "\f198"; }
.flaticon-tools-and-utensils:before { content: "\f199"; }
.flaticon-vaccine-1:before { content: "\f19a"; }
.flaticon-placeholder:before { content: "\f19b"; }
.flaticon-call:before { content: "\f19c"; }
.flaticon-info:before { content: "\f19d"; }